[Desktop Entry]
Type=Application
Name=Mosaic Mod Manager
Comment=Linux Mod Manager
Exec=mosaic-mod-manager
Icon=io.github.TheMrGeeBee.MosaicModManager
Categories=Game;Utility;
Keywords=mod;mods;modding;Nexus;Steam Deck;Baldur's Gate 3;
Terminal=false
StartupWMClass=mosaic-mod-manager
