[Desktop Entry]
Type=Application
Name=Mosaic Mod Manager
Comment=Game mod manager for Linux
Exec=mod-manager
Icon=mod-manager
Categories=Game;Utility;
Keywords=mod;mods;modding;Nexus;Steam Deck;Baldur's Gate 3;
Terminal=false
StartupWMClass=mod-manager
